services:
  broker:
    container_name: broker
    image: "kafka:latest"
    command: entrypoint.sh
    ports:
      - "9092:9092"
    networks:
      - kafka-net
  producer:
    container_name: producer
    image: "proxy-kafka:latest"
    command: ../entrypoint.sh
    volumes:
      - ../scripts:/scripts
    networks:
      - kafka-net
  consumer:
    container_name: consumer
    image: "proxy-kafka:latest"
    command: ../entrypoint.sh
    volumes:
      - ../scripts:/scripts
    networks:
      - kafka-net
networks:
  kafka-net:
    driver: bridge
