services:
  master:
    container_name: master
    image: "spark:latest"
    command: entrypoint.sh start-master.sh
    environment:
      SPARK_MASTER_HOST: 172.20.0.10
    ports:
      - "8080:8080"
    networks:
      spark-net:
        ipv4_address: 172.20.0.10
  {% for i in range(number_of_workers) %}
  worker-{{ i }}:
    container_name: worker-{{ i }}
    image: "spark:latest"
    command: entrypoint.sh start-worker.sh spark://172.20.0.10:7077
    environment:
      SPARK_WORKER_WEBUI_PORT: 808{{ i+1 }}
    volumes:
      - ../data/:/scripts/data/
    ports:
      - "808{{ i+1 }}:808{{ i+1 }}"
    networks:
      - spark-net
    depends_on:
      - master
  {% endfor %}
  proxy:
    container_name: proxy
    image: "proxy:latest"
    command: ../entrypoint.sh
    working_dir: /scripts
    volumes:
      - ../scripts:/scripts
      - ../data/:/scripts/data/
    networks:
      - spark-net
    depends_on:
      - master
      {%+ for i in range(number_of_workers) -%}
      - worker-{{ i }}
      {% endfor %}
networks:
  spark-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

